body{
    background-color:#1e1e2e;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: montserrat;
    color: #cdd6f4;
}

em {
    color: #f38ba8;
    font-style: normal;
}

p{
    font-size: 25px;
  
}

h1{
    font-size: xx-large;

}

h2{
    font-size: x-large;
}

h3{
    font-size: large;

}

h4{
    font-size: xx-large;
}

h5{
    font-size: xx-large;

}

h6{
    font-size: xx-large;
}

.chopperpics{   
    height: 250px;
    width: 175px;
    animation: fade;
    border-radius: 10px;
    animation-duration: 3s;
}

@keyframes fade{
    0%   {opacity: 0%;}
    100% {opacity: 100%;}
}

.center {
    text-align: center;
    border: 3px;
}

.return{
    height: 100px;
    width: 100px;
    border-radius: 10px;  
}

#fade{
    animation: fade;
    animation-duration: 500ms;
}

#anime{
    height:300px;
    width: 200px;
    border-radius: 10px;
    margin-left: 50px;
}

#review{
    position: relative;
    margin-left:290px;
    margin-top: -300px;

}

button{
    border-radius: 5px;
    border-color: #cba6f7;
    color: #11111b;
    background-color: #cba6f7;
}

.animebutton{
    margin-left: 275px;
}

#chopbutt{
    margin-left: 882px;
}