body{
    background-color:#181818;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: montserrat;
    color: #ffffff;
}

em {
    color: #f38ba8;
    font-style: normal;
}

p{
    font-size: 25px;
  
}

h1{
    font-size: xx-large;

}

h2{
    font-size: x-large;
}

h3{
    font-size: large;

}

h4{
    font-size: xx-large;
}

h5{
    font-size: xx-large;

}

h6{
    font-size: xx-small;
}

.chopperpics{   
    height: 250px;
    width: 175px;
    animation: fade;
    border-radius: 10px;
    animation-duration: 3s;
}

@keyframes fade{
    0%   {opacity: 0%;}
    100% {opacity: 100%;}
}

.center {
    text-align: center;
    border: 3px;
}

.half {
  flex: 1;
  display: flex;
  justify-content: center;

}

.return{
    height: 100px;
    width: 100px;
    border-radius: 10px;  
}

#fade{
    animation: fade;
    animation-duration: 500ms;
}

#anime{
    height:300px;
    width: 200px;
    border-radius: 10px;
    margin-left: 50px;
}

#review{
    position: relative;
    margin-left:290px;
    margin-top: -300px;

}

button{
    border-radius: 5px;
    border-color: #ffffff;
    color: #11111b;
    background-color: #ffffff;
}

.animebutton{
    margin-left: 275px;
}

#chopbutt{
    margin-left: 882px;
}

.newline{
    position: relative;
    margin-top: 100px;
}

.small{
    font-size: xx-small;
}

.quarter-container {
  position: relative;
  height: 100vh;
}

/* block positioning */
.block {
  position: absolute;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 35%;
}

/* quarter positions */
.left {
  left: 25%;
}

.right {
  left: 75%;
}

/* title spacing */
.block h1,
.block h2 {
  text-align: center;
  margin-bottom: 15px;
}

/* each line: image + text */
.line {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 8px;
}

.line p {
  margin: 0;
}

/* image size */
.side-image {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
